@model StandByTest.Models.Cliente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null || Model.IsNewCliente())
{
    <h4>Cadastrar</h4>
}
else
{
    <h4>Editar</h4>
}

<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    

    @if (Model != null)
    {
        <input type="hidden" asp-for="Id" />
    }

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="RazaoSocial" class="control-label"></label>
                <input asp-for="RazaoSocial" class="form-control" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" data-mask="00.000.000/0000-00" data-mask-reverser="false" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DataFundacao" class="control-label"></label>
                <input asp-for="DataFundacao" type="date" class="form-control" />
                <span asp-validation-for="DataFundacao" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Capital" class="control-label"></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input asp-for="Capital" class="form-control" />
                </div>
                <span asp-validation-for="Capital" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <br /><br />
                <div class="form-check form-check-inline">
                    <input asp-for="Status" class="form-check-input" type="radio" id="Ativo" value="true" checked>
                    <label class="form-check-label" for="Ativo">
                        Ativo
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Status" class="form-check-input" type="radio" id="Inativo" value="false">
                    <label class="form-check-label" for="Inativo">
                        Inativo
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @if (Model == null || Model.IsNewCliente())
                {
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Editar" class="btn btn-primary" />
                }
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Create.js"></script>
}
