@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="row col-md-12">
    <a asp-action="Create" class="btn btn-primary">Novo cliente</a>
</p>

<partial name="Filter" />

<div id="Clientes" />


@section Scripts {
    <script src="~/js/Clientes.js"></script>
}